{
  "log": {
    "loglevel": "${LOG_LEVEL}",
    "access": "/dev/stdout",
    "error": "/dev/stderr"
  },
  "inbounds": [
    {
      "port": ${SOCKS_LISTEN_PORT},
      "listen": "${SOCKS_LISTEN_IP}",
      "protocol": "socks",
      "settings": {
        "auth": "no",
        "udp": true
      },
      "sniffing": { "enabled": true, "destOverride": ["http", "tls"] },
      "tag": "socks-in"
    }
  ],
  "outbounds": [
    {
      "protocol": "${OUTBOUND_PROTOCOL}",
      "settings": { "servers": [ { "address": "${OUTBOUND_IP}", "port": ${OUTBOUND_PORT} } ] },
      "tag": "proxy"
    },
    { "protocol": "freedom", "settings": {}, "tag": "direct" },
    { "protocol": "blackhole", "settings": {}, "tag": "block" }
  ],
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      { "type": "field", "ip": ["${RULE_PRIVATE_IP}"], "outboundTag": "${PRIVATE_IP_OUTBOUND}" },
      { "type": "field", "domain": ["${RULE_PROXY_SITE}"], "outboundTag": "${PROXY_SITE_OUTBOUND}" },
      { "type": "field", "ip": ["${RULE_PROXY_IP}"], "outboundTag": "${PROXY_IP_OUTBOUND}" },
      { "type": "field", "ip": ["0.0.0.0/0", "::/0"], "outboundTag": "${DEFAULT_OUTBOUND}" }
    ]
  }
}
